<div class='maplibre-directions-component maplibre-directions-inputs'>
  <div class='maplibre-directions-component-keyline'>
    <div class='maplibre-directions-origin'>
      <label class='maplibre-form-label'>
        <span class='directions-icon directions-icon-depart'></span>
      </label>
      <div id='maplibre-directions-origin-input'></div>
    </div>

    <button
      class='directions-icon directions-icon-reverse directions-reverse js-reverse-inputs'
      title='Reverse origin &amp; destination'>
    </button>

    <div class='maplibre-directions-destination'>
      <label class='maplibre-form-label'>
        <span class='directions-icon directions-icon-arrive'></span>
      </label>
      <div id='maplibre-directions-destination-input'></div>
    </div>
  </div>

  <% if (controls.profileSwitcher) { %>
  <div class='maplibre-directions-profile maplibre-directions-component-keyline maplibre-directions-clearfix'><input
      id='maplibre-directions-profile-driving-traffic'
      type='radio'
      name='profile'
      value='maplibre/driving-traffic'
      <% if (profile === 'maplibre/driving-traffic') { %>checked<% } %>
    />
    <label for='maplibre-directions-profile-driving-traffic'>Traffic</label>
    <input
      id='maplibre-directions-profile-driving'
      type='radio'
      name='profile'
      value='maplibre/driving'
      <% if (profile === 'maplibre/driving') { %>checked<% } %>
    />
    <label for='maplibre-directions-profile-driving'>Driving</label>
    <input
      id='maplibre-directions-profile-walking'
      type='radio'
      name='profile'
      value='maplibre/walking'
      <% if (profile === 'maplibre/walking') { %>checked<% } %>
    />
    <label for='maplibre-directions-profile-walking'>Walking</label>
    <input
      id='maplibre-directions-profile-cycling'
      type='radio'
      name='profile'
      value='maplibre/cycling'
      <% if (profile === 'maplibre/cycling') { %>checked<% } %>
    />
    <label for='maplibre-directions-profile-cycling'>Cycling</label>
  </div>
  <% } %>
</div>
